<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Post</title>
	<style>
		body{
			background: rgb(170,220,215);
		}
		.form{
			margin: 150px auto;
			width: 20%;
			display: flex;
			justify-content: center;
			border-radius: 15px;
			background: white;
			padding: 20px;
		}
	</style>
</head>
<body>
	<div class="form">
		<ul>
			<p>Name: <%= data.name%></p>
			<p>Surname: <%= data.sname%></p>
		</ul>
	</div>
</body>
</html>